<form action="{{ path('front_mail_event') }}" method="GET">

    <input type="text" class="" placeholder="To" name="Email"/>
    <input type="text" class="" placeholder="Object" name="Subject"/>
    <textarea name="message" >
        Un nouveau participant a votre Evenement!

    </textarea>
    <input type="submit" value="envoyer">


</form>